@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Violet: #5964e0;
  --LightViolet: #939BF4;
  --VeryDarkBlue: #19202D;
  --Midnight: #121721;
  --White: #FFF;
  --LightGrey: #F4F6F8;
  --Gray: #9DAEC2;
  --DarkGray: #6E8098;
}
body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--LightGrey);
  transition: background-color 0.3s ease;
}
body.dark-theme {
  background-color: var(--Midnight);
  transition: background-color 0.3s ease;
  & .search-filter {
    background-color: var(--VeryDarkBlue);
    & input {
      background-color: var(--VeryDarkBlue);
      color: var(--LightGrey);
    }
  }
  & .fulltime-section label h4 {
    color: var(--LightGrey);
  }
  & .job-item {
    background-color: var(--VeryDarkBlue);
  }
  .job-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px var(--DarkGray);
  }
  & .job-content h2 a {
    color: var(--LightGrey);
    cursor: url('/public/images/pointer.svg'), auto;
  }
}
.container {
  width: 1440px;
  margin: 0 auto;
}
.navHeader {
  display: flex;
  justify-content: space-between;
  background-image: url(/Public/images/header-bg.svg);
  background-repeat: no-repeat;
  width: auto;
  height: 160px;
  padding-block: 44px 84px;
  padding-inline: 165px;
}
.theme-changer {
  cursor: url('/public/images/pointer.svg'), auto;
}
/* Filter Sectioin */
.search-filter {
  display: flex;
  align-items: center;
  width: 1110px;
  height: 80px;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: -40px;
  background-color: var(--White);
  border-radius: 6px;
}
.bar-section, .local-section {
  display: flex;
  gap: 9px;
  align-items: center;
  padding-inline: 33px;
  & form {
    display: flex;
    align-items: center;
    gap: 16px;
      & input {
        border: 0;
      }
  }
}
.fulltime-section label {
  display: flex;
  align-items: center;
  gap: 16px;
}
.btn {
  background-color: var(--Violet);
  color: var(--White);
  padding: 16px 31px;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  transition: all .1s linear;
  box-shadow: 0 5px 0 var(--Midnight);
}
.btn:hover {
  background: var(--LightViolet); 
  cursor: url('/public/images/pointer.svg'), auto;
}
.btn:active {
  box-shadow: 0 2px 0 var(--Midnight);
  transform: translateY(3px);
}
.fulltime-section label:hover, .bar-section:hover, .local-section:hover, .job-item-innerbox:hover {
  cursor: url('/public/images/pointer.svg'), auto;
}

/* JOB SECTION*/
.jobsSection {
  width: 1110px;
  margin: 0 auto;
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 65px;
}
.job-item {
  background-color: var(--White);
  border-radius: 6px;
  width: 350px;
  transition: transform 0.3s, box-shadow 0.3s;
  & img {
    margin-top: -25px;
    margin-left: 32px;
  }
}
.job-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px var(--Midnight);
}
.job-item:active {
  box-shadow: 0 2px 0 var(--Midnight);
  transform: translateY(3px);
}
.job-item-innerbox {
  padding: 24px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: 286px;
  & h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: var(--DarkGray);
    margin-bottom: 16px;
  }
  & h2 a{
    text-decoration: none;
    color: var(--VeryDarkBlue);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap; /* Metni kırpma */
    overflow: hidden; /* Taşan kısmı gizleme */
    text-overflow: ellipsis; /* Taşan kısmı üç nokta (...) ile gösterme */
    
  }
  & p {
    font-size: 16px;
    font-weight: 400;
    line-height: normal; 
    color: var(--DarkGray);
    margin-top: 17px;
  }
}
.location p {
  color: var(--Violet);
  font-size: 14px;
  font-weight: 700;
  line-height: normal; 
}
.loader-button {
  width: 1110px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 56px;
}
/*DETAILS CONTAINER*/
.details-container {
  width: 730px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.details-top {
  display: flex;
  margin-top: -40px;
  background-color: var(--White);
  border-radius: 6px;
  gap: 40px;
  & img {
    width: 140px;
    height: 140px;
  }
}
.mid-section {
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.mid-text {
  display: flex;
  flex-direction: column;
  gap: 13px;
  & h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    color: #19202D;
    white-space: nowrap; /* Metni kırpma */
    overflow: hidden; /* Taşan kısmı gizleme */
    text-overflow: ellipsis; /* Taşan kısmı üç nokta (...) ile gösterme */
  }
  & h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: var(--DarkGray);
    white-space: nowrap; /* Metni kırpma */
    overflow: hidden; /* Taşan kısmı gizleme */
    text-overflow: ellipsis; /* Taşan kısmı üç nokta (...) ile gösterme */
   }
}
.details-button {
  padding: 16px 21px;
  border-radius: 5px;
  background-color: var(--LightGrey);
  border: 0;
  margin-right: 43px;
  & a {
    text-decoration: none;
    color: #5964e0;
    font-size: 16px;
    font-weight: 700;
    line-height: normal; 
    cursor: url('/public/images/pointer.svg'), auto;
    white-space: nowrap; /* Metni kırpma */
    overflow: hidden; /* Taşan kısmı gizleme */
    text-overflow: ellipsis; /* Taşan kısmı üç nokta (...) ile gösterme */
  }
}
.inner-details {
  padding: 48px 43px 48px 48px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.about-job {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  & .about-job-left {
    & h6 {
      color: var(--DarkGray);
      font-size: 16px;
      font-weight: 400;
      line-height: normal; 
    }
    & h1 {
      margin-top: 11px;
      color: var(--VeryDarkBlue);
      font-size: 28px;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 14px;
    }
    & span {
      color: var(--Violet);
      font-size: 14px;
      font-weight: 700;
      line-height: normal; 
    } 
  }
  .apply:hover {
    cursor: url('/public/images/pointer.svg'), auto;
  }
}
.description {
  color: var(--DarkGray);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */ 
}
.requiretments {
  & h2 {
    color: var(--VeryDarkBlue);
    font-size: 20px;
    font-weight: 700;
    line-height: normal; 
  }
  & p {
    color: var(--DarkGray);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 28px;
  }
}
.requiretments-lists {
  margin-top: 24px;
}
.requiretments-lists li {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */ 
  color: var(--DarkGray);
}
.requiretments-lists li::marker {
  color: var(--Violet);
}
.whatyoudo {
  & h2 {
    color: var(--VeryDarkBlue);
    font-size: 20px;
    font-weight: 700;
    line-height: normal; 
  }
  & p {
    margin-top: 28px;
    color: var(--DarkGray);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */ 
  }
}
.whatyoudo-lists {
  color: var(--DarkGray);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-top: 24px;
}
.whatyoudo-lists li::marker {
  color: var(--Violet);
}

/*STICKY SECTION*/