@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Violet: #5964e0;
  --LightViolet: #939BF4;
  --VeryDarkBlue: #19202D;
  --Midnight: #121721;
  --White: #FFF;
  --LightGrey: #F4F6F8;
  --Gray: #9DAEC2;
  --DarkGray: #6E8098;
}
body {font-family: 'Kumbh Sans', sans-serif;}
.container {
  width: 1440px;
  margin: 0 auto;
}
.navHeader {
  display: flex;
  justify-content: space-between;
  background-image: url(/Public/images/header-bg.svg);
  background-repeat: no-repeat;
  width: auto;
  height: 160px;
  padding-block: 44px 84px;
  padding-inline: 165px;
}
.theme-changer {
  cursor: url('public/images/pointer.svg'), auto;
}
